BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4

AlignAfterOpenBracket: true
AlignOperands: false
AlignTrailingComments: false

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakStringLiterals: false

CommentPragmas: '^#'